.suggest {
    display: inline-block;
}

.suggest .bui-combox {
    border: none;
}

.login-page {
    background-color: grey;
}

.login-box {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    margin-top: 15%;
    border: solid 20px skyblue;
    padding: 15px;
    box-shadow: 10px 10px 5px #888888;

}

