<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 考勤工作流 -->
    <bean id="attendanceWorkFlow" class="top.gabin.oa.web.service.flow.attendance.execute.WorkFlowExecute">
        <property name="dataBuilder" ref="attendanceService"></property>
        <property name="analysisStepList">
            <list>
                <ref bean="highRuleWorkFlow"></ref>
                <ref bean="leaveWorkFlow"></ref>
                <ref bean="yesterdayDelayWorkFlow"></ref>
                <ref bean="ruleWorkFlow"></ref>
            </list>
        </property>
    </bean>
    <bean id="highRuleWorkFlow" class="top.gabin.oa.web.service.flow.attendance.step.HighRuleWorkFlow">
        <property name="order" value="500" ></property>
    </bean>
    <bean id="leaveWorkFlow" class="top.gabin.oa.web.service.flow.attendance.step.LeaveWorkFlow">
        <property name="order" value="1000" ></property>
    </bean>
    <bean id="yesterdayDelayWorkFlow" class="top.gabin.oa.web.service.flow.attendance.step.YesterdayDelayWorkFlow">
        <property name="order" value="2000" ></property>
    </bean>
    <bean id="ruleWorkFlow" class="top.gabin.oa.web.service.flow.attendance.step.RuleWorkFlow">
        <property name="order" value="4000" ></property>
    </bean>
</beans>